{include file="public/header" title="管理员添加" keywords="管理员添加" /}
<script type="text/javascript" src="__KDWL_JS_V1__/xadmin.js"></script>
<style>
    .form{
        padding: 10px 10px 0 10px;
        background: #fff;
    }
</style>
<form class="layui-form layui-form-pane form" action="" lay-filter="add">
    <div class="layui-form-item">
        <label  class="layui-form-label">
           会员名称  <span class="x-red">*</span></label>
        <div class="layui-input-inline">
            <select id="uid" name="uid" class="valid">
                {volist name="user" id="vo"}
                <option value="{$vo.id}">{$vo.info}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label  class="layui-form-label">
           课程名称  <span class="x-red">*</span></label>
        <div class="layui-input-inline">
            <select id="cid" name="cid" class="valid">
                {volist name="course" id="vo"}
                <option value="{$vo.id}">{$vo.course_title}</option>
                {/volist}
            </select>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">评论内容 <span class="x-red">*</span></label>
        <div class="layui-input-inline">
            <textarea class="layui-textarea" name="content" placeholder="请输入评论内容" lay-verify="required" style="width: 420px;
    resize: none;"></textarea>
        </div>
    </div>

    <div class="layui-form-item" pane="">
        <label class="layui-form-label" style="line-height: 20px">状态 <span class="x-red">*</span></label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="0" title="等待审核" checked="checked" lay-filter="status">
            <input type="radio" name="status" value="1" title="审核通过" lay-filter="status">
            <input type="radio" name="status" value="2" title="审核驳回" lay-filter="status">
        </div>
    </div>


    <div class="layui-form-item" style="display: none" id="reason">
        <label class="layui-form-label">驳回原因 <span class="x-red">*</span></label>
        <div class="layui-input-inline">
            <textarea class="layui-textarea" name="reason" placeholder="请输入驳回原因" style="width: 420px;
    resize: none;"></textarea>
            <!--<input type="text" name="reason" lay-verify="required" placeholder="请输入驳回原因" autocomplete="off" class="layui-input">-->
        </div>
    </div>


    <div class="layui-form-item" style="text-align: center" >
        <div class="layui-btn " lay-submit="" lay-filter="submits" style="width: 100px;height: 40px;line-height: 40px">确认</div>
    </div>
</form>

<script>
    layui.use(['form'], function(){
        var form = layui.form
            ,layer = layui.layer
        //监听提交
        form.on('submit(submits)', function(data){
            $.ajax({
                type: "post",
                url: "{:url('discuss_add')}",
                dataType: "json",
                data:data.field,
                success: function(data, textStatus, request){
                    if( data.code == 20006){
                        //用户信息失效
                        layer.msg(data.msg,{anim:0,shade:0.6},function () {
                            parent.location.reload();
                            xadmin.del_tab();
                            xadmin.close();
                        });
                    }else if( data.code == 1 ){
                        layer.msg(data.msg,{anim:0,shade:0.6},function () {
                            parent.location.reload();
                            xadmin.close();
                        });
                    }else{
                        layer.msg(data.msg,{anim:0,shade:0.6},function () {
                            return  false;
                        });
                    }
                }
            });
            /*layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })*/
            return false;
        });
        form.on('radio(status)', function(data){
            var status = data.value;
            if(status == 2){
                $('#reason').show();
                $('#reason').find('textarea').val('');
            }else{
                $('#reason').find('textarea').val('');
                $('#reason').hide();
            }
        });

        //表单初始赋值
        /*  form.val('add', {
              "username": "贤心" // "name": "value"
              ,"password": "123456"
              ,"interest": 1
              ,"like[write]": true //复选框选中状态
              ,"close": true //开关状态
              ,"sex": "女"
              ,"desc": "我爱 layui"
          })*/


    });
</script>
