{include file="Public/header" title="课程分类" keywords="课程分类" /}
<script type="text/javascript" src="__KDWL_JS_V1__/xadmin.js"></script>
<body>
<div class="x-nav" id="app">
          <span class="layui-breadcrumb">
            <a href="JavaScript:void(0)">{{first_nav}}</a>
            <a href="JavaScript:void(0)">{{second_nav}}</a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5" id="searchs">
                        <!--<div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="开始日" name="start" id="start">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="截止日" name="end" id="end">
                        </div>-->

                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="edu_category_name" id="edu_category_name" placeholder="请输入课程分类名称" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" type="button"  lay-filter="search" id="search"><i class="layui-icon">&#xe615;</i>查询</button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn" id="add_vip"  onclick="xadmin.open('添加课程分类','{:url('add_type')}',350,350)"><i class="layui-icon"></i>添加课程分类</button>
                </div>
                <div class="layui-card-body ">
                    <table id="category" lay-filter="category"></table>
                </div>
                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

                </script>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            first_nav: "课程管理",
            second_nav: "课程分类列表",
        },
        methods: {},
        //监听属性
        watch: {

        },
        //计算属性
        computed: {

        }

    });
    layui.use(['table'], function(){
        var table = layui.table;
        //第一个实例
        table.render({
            elem: '#category'
            ,url: "{:url('type_ls')}" //数据接口
            ,page: true //开启分页
            ,cols: [
                [ //表头
                    {field: 'id', title: 'ID', align:'center'}
                    ,{field: 'displayorder', title: '排序', align:'center'}
                    ,{field: 'edu_category_en_name', title: '课程分类英文名', align:'center'}
                    ,{field: 'edu_category_name', title: '课程分类中文名', align:'center'}
               /*     ,{field: 'createtime', title: '创建时间', align:'center'}*/
                    ,{field: 'status', title: '状态', align:'center'}

                    ,{title:'操作', templet:'#barDemo', align:'center'}
                ]
            ]
            ,id: 'category',
        });


        //监听工具条
        table.on('tool(category)', function(obj){
            var data = obj.data;
            if(obj.event === 'edit'){
                var url = "{:url('update')}?id="+data.id;
                xadmin.open('编辑课程分类',url,350,350)
            }else if(obj.event === 'del'){
                layer.confirm('确认要删除该课程分类吗？操作不可逆哦！！',{title:'系统提示'}, function(index){
                    $.ajax({
                        type: "post",
                        url: "{:url('delete')}",
                        dataType: "json",
                        data:{id:data.id},
                        success: function(data, textStatus, request){
                            if( data.code == 20006){
                                //用户信息失效
                                layer.msg(data.msg,{anim:0,shade:0.6},function () {
                                    parent.location.reload();
                                    xadmin.del_tab();
                                    xadmin.close();
                                });
                            }else if( data.code == 1 ){
                                layer.msg(data.msg,{anim:0,shade:0.6},function () {
                                    location.reload();
                                    xadmin.close();
                                });
                            }else{
                                layer.msg(data.msg,{anim:0,shade:0.6},function () {
                                    return  false;
                                });
                            }
                        }
                    });
                    layer.close(index);
                });
            }else{

            }
        });




        //重载

        $('#search').on('click', function(){
            var name = $('#edu_category_name');
            /*var start = $('#start');
            var end = $('#end');*/
            //执行重载
            table.reload('category', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    name: name.val(),
                    /*start: start.val(),
                    end: end.val(),*/
                }
            }, 'data');
            //active[type] ? active[type].call(this) : '';
        });
    });

    //日期范围选择
    layui.use('laydate', function() {
        var laydate = layui.laydate;

        laydate.render({
            elem: '#start'
        });
        //日期范围选择
        laydate.render({
            elem: '#end'
        });
    })



</script>
</html>
