{include file="public/header" title="查看教师申请信息" keywords="查看教师申请信息" /}
<script type="text/javascript" src="__KDWL_JS_V1__/xadmin.js"></script>
<style>
    .form{
        padding: 10px 10px 0 10px;
        background: #fff;
    }
</style>
<body>
<div class="x-nav" id="app">
          <span class="layui-breadcrumb">
            <a href="JavaScript:void(0)">{{first_nav}}</a>
            <a href="JavaScript:void(0)">{{second_nav}}</a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right;margin-right: 15px;"
       onclick="location.href='{:url(\'lists\')}'" title="返回">
        <i class="layui-icon layui-icon-return" style="line-height:30px"></i></a>

</div>
<form class="layui-form layui-form-pane form" action="" lay-filter="view">

    <div class="layui-form-item">
        <label class="layui-form-label">会员昵称 </label>
        <div class="layui-input-inline">
            <input type="text" name="uid"  autocomplete="off" class="layui-input" disabled>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">国籍 </label>
        <div class="layui-input-inline">
            <input type="text" name="nationality"  autocomplete="off" class="layui-input" disabled>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">工作类型 </label>
        <div class="layui-input-inline">
            <input type="text" name="work_type"  autocomplete="off" class="layui-input" disabled>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">所教科目 </label>
        <div class="layui-input-inline">
            <input type="text" name="subject"  autocomplete="off" class="layui-input" disabled>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">联系类型 </label>
        <div class="layui-input-inline">
            <input type="text" name="contact_way"  autocomplete="off" class="layui-input" disabled>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">联系方式 </label>
        <div class="layui-input-inline">
            <input type="text" name="contact"  autocomplete="off" class="layui-input" disabled>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">空闲时间 </label>
        <div class="layui-input-inline">
            <input type="text" name="avaliable_time"  autocomplete="off" class="layui-input" disabled>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">教师上传的图片 </label>
        <div class="layui-input-inline">
            {if $view.images}
             {foreach $view.images as $item}
            <a href="{$item}" target="_blank"> <img src="{$item}" alt=""></a>
            {/foreach}
            {/if}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">教师简介 </label>
        <div class="layui-input-inline">
            <input type="text" name="introduce"  autocomplete="off" class="layui-input" disabled>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">宝宝学校 </label>
        <div class="layui-input-inline">
            <input type="text" name="baby_school"  autocomplete="off" class="layui-input" disabled>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">家庭住址 </label>
        <div class="layui-input-inline">
            <input type="text" name="address"  autocomplete="off" class="layui-input" disabled>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">备注信息 </label>
        <div class="layui-input-inline">
            <textarea name="remarks" id="" cols="30" rows="10" class="layui-textarea" disabled style="resize: none"></textarea>
        </div>
    </div>


    <div class="layui-form-item" style="text-align: center">
        <div class="layui-btn " onclick="location.href='{:url(\'lists\')}'" style="width: 100px;height: 40px;line-height: 40px">返回列表</div>
    </div>
</form>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            first_nav: "教师申请",
            second_nav: "查看教师申请信息",
        },
        methods: {},
        //监听属性
        watch: {},
        //计算属性
        computed: {}

    });
    layui.use(['form'], function(){
        var form = layui.form
            ,layer = layui.layer
        //表单初始赋值
        form.val('view', {
            "uid": "{$view.uid}" // "name": "value"
            ,"nationality": "{$view.nationality}"
            ,"work_type": "{$view.work_type}"
            ,"subject": "{$view.subject}" //复选框选中状态
            ,"contact_way": "{$view.contact_way}" //开关状态
            ,"contact": "{$view.contact}"
            ,"avaliable_time": "{$view.avaliable_time}"
            ,"introduce": "{$view.introduce}"
        })


    });
</script>
