{include file="public/header" title="会员宝宝添加" keywords="会员宝宝添加" /}
<script type="text/javascript" src="__KDWL_JS_V1__/xadmin.js"></script>
<style>
    .form{
        padding: 10px 10px 0 10px;
        background: #fff;
    }
</style>
<form class="layui-form layui-form-pane form" action="" lay-filter="add">
    <div class="layui-form-item">
        <label class="layui-form-label">宝宝姓名 <span class="x-red">*</span></label>
        <div class="layui-input-inline">
            <input type="text" name="baby_name" lay-verify="required" placeholder="请输入宝宝姓名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">英文姓名 </label>
        <div class="layui-input-inline">
            <input type="text" name="baby_en_name"  placeholder="请输入英文姓名" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label  class="layui-form-label" class="layui-input-inline">
            出生日期</label>
        <div class="layui-input-inline">
            <input class="layui-input"  autocomplete="off" placeholder="出生日期" name="babytime" id="start">

        </div>

    </div>

    <div class="layui-form-item">
        <label  class="layui-form-label">
            宝宝性别</label>
        <div class="layui-input-inline">
            <select id="baby_sex" name="baby_sex" class="valid">
                <option value="0">未知</option>
                <option value="1">男</option>
                <option value="2">女</option>
            </select>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">宝宝学校</label>
        <div class="layui-input-inline">
            <input type="text" name="baby_school"  placeholder="请输入宝宝学校" autocomplete="off" class="layui-input">
        </div>
    </div>

    <input type="hidden" name="uid" value="{$uid}">




    <div class="layui-form-item" style="position: fixed;bottom: 0;left: 38%;">
        <div class="layui-btn " lay-submit="" lay-filter="submits" style="width: 100px;height: 40px;line-height: 40px">确认</div>
    </div>
</form>

<script>
    layui.use(['form'], function(){
        var form = layui.form
            ,layer = layui.layer
        //监听提交
        form.on('submit(submits)', function(data){
            $.ajax({
                type: "post",
                url: "{:url('add_baby')}",
                dataType: "json",
                data:data.field,
                success: function(data, textStatus, request){
                    if( data.code == 20006){
                        //用户信息失效
                        layer.msg(data.msg,{anim:0,shade:0.6},function () {
                            parent.location.reload();
                            xadmin.del_tab();
                            xadmin.close();
                        });
                    }else if( data.code == 1 ){
                        layer.msg(data.msg,{anim:0,shade:0.6},function () {
                            parent.location.reload();
                            xadmin.close();
                        });
                    }else{
                        layer.msg(data.msg,{anim:0,shade:0.6},function () {
                            return  false;
                        });
                    }
                }
            });
            /*layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })*/
            return false;
        });

        //表单初始赋值
        /*  form.val('add', {
              "username": "贤心" // "name": "value"
              ,"password": "123456"
              ,"interest": 1
              ,"like[write]": true //复选框选中状态
              ,"close": true //开关状态
              ,"sex": "女"
              ,"desc": "我爱 layui"
          })*/


    });

    //日期范围选择
    layui.use('laydate', function() {
        var laydate = layui.laydate;

        laydate.render({
            elem: '#start'
        });
        //日期范围选择
        laydate.render({
            elem: '#end'
        });
    })

</script>
