{include file="public/header" title="用户家庭地址" keywords="用户家庭地址" /}
<script type="text/javascript" src="__KDWL_JS_V1__/xadmin.js"></script>
<body>
<div class="x-nav" id="app">
          <span class="layui-breadcrumb">
            <a href="JavaScript:void(0)">{{first_nav}}</a>
            <a href="JavaScript:void(0)">{{second_nav}}</a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
     
        <div class="layui-col-md12">
   
            <div class="layui-card">
            <div class="layui-card-header">
                    <button class="layui-btn" id="add_vip"  onclick="xadmin.open('添加会员家庭地址','{:url('add_address')}?id={$id}',400)"><i class="layui-icon"></i>添加</button>
                </div>
                <div class="layui-card-body ">
                
                    <table id="address" lay-filter="address"></table>
                </div>
                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function icon(){
        var url = "{:url('iconfont')}";
        xadmin.open('图标库',url,800,600);
    }
    var app = new Vue({
        el: '#app',
        data: {
            first_nav: "用户地址",
            second_nav: "用户地址",
        },
        methods: {},
        //监听属性
        watch: {

        },
        //计算属性
        computed: {

        }

    });
    layui.use(['table'], function(){
        var table = layui.table;
        //第一个实例
        table.render({
            elem: '#address'
            //,url: "{:url('groupListUser')}" //数据接口
            ,url: "{:url('address_ls')}?id="+{$id}
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'id', title: 'ID', width:80,align: "center"}
                ,{field:'nickname',title:'用户昵称',align:"center"}

                ,{field: 'adress', title: '用户地址',align: "center"}
                ,{field: 'address', title: '详细地址',align: "center"}
                ,{field: 'createtime', title: '创建时间',align: "center"}
                ,{title:'操作', templet:'#barDemo',align: "center"}
            ]]
            ,id: 'address',
        });
        //监听工具条
        table.on('tool(address)', function(obj){
            var data = obj.data;
            if(obj.event === 'edit'){
                var url = "{:url('update_address')}?id="+data.id;
                xadmin.open('编辑菜单',url,400)
            }else if(obj.event === 'del'){
                layer.confirm('确认要强制删除用户家庭地址吗？操作不可逆哦！！',{title:'系统提示'}, function(index){
                    $.ajax({
                        type: "post",
                        url: "{:url('del_address')}",
                        dataType: "json",
                        data:{id:data.id,gid:{$id}},
                        success: function(data, textStatus, request){
                            if( data.code == 20006){
                                //用户信息失效
                                layer.msg(data.msg,{anim:0,shade:0.6},function () {
                                    parent.location.reload();
                                    xadmin.del_tab();
                                    xadmin.close();
                                });
                            }else if( data.code == 1 ){
                                layer.msg('删除用户家庭地址成功',{anim:0,shade:0.6},function () {
                                    location.reload();
                                    xadmin.close();
                                });
                            }else{
                                layer.msg(data.msg,{anim:0,shade:0.6},function () {
                                    return  false;
                                });
                            }
                        }
                    });
                    layer.close(index);
                });
            }else{

            }
        });
    });


</script>
</html>
