{include file="public/header" title="后台管理" keywords="后台管理" /}
<script type="text/javascript" src="__KDWL_JS_V1__/xadmin.js"></script>
<body>

<div class="x-nav" id="app">
          <span class="layui-breadcrumb">
            <a href="JavaScript:void(0)">{{first_nav}}</a>
            <a href="JavaScript:void(0)">{{second_nav}}</a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5" id="searchs">
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="开始时间" name="start" id="start">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="结束时间" name="end" id="end">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="title" id="title" placeholder="请输入订单编号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <select id="status" lay-search>
                                <option value="">请选择订单状态</option>
                                <option value="-1">待支付</option>
                                <option value="1">已支付,等待发货</option>
                                <option value="2">已发货,等待收货</option>
                                <option value="3">已完成</option>
                                <option value="4">已取消</option>
                            </select>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" type="button" id="search"><i class="layui-icon">&#xe615;</i>查询</button>
                        </div>
                    </form>
                </div>
                <!--<div class="layui-card-header">
                    <button class="layui-btn" id="add_vip"  onclick="xadmin.open('添加商品','{:url('shop_order_add')}',550,650)"><i class="layui-icon"></i>添加</button>
                </div>-->
                <div class="layui-card-body ">
                    <table id="order" lay-filter="order"></table>
                </div>
                <script type="text/html" id="barDemo">

                    <a class="" lay-event="view" style="color: #3296fa;cursor: pointer">查看详情</a>
                   <!-- <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
                </script>
            </div>
        </div>
    </div>
</div>
</body>
<script>

    var app = new Vue({
        el: '#app',
        data: {
            first_nav: "订单管理",
            second_nav: "商城订单",
        },
        methods: {},
        //监听属性
        watch: {

        },
        //计算属性
        computed: {

        }

    });
    layui.use(['table'], function(){
        var table = layui.table;
        //第一个实例
        table.render({
            elem: '#order'
            ,url: "{:url('shop_order_ls')}" //数据接口
            ,page: true //开启分页
            ,cols: [
                [ //表头
                    {field: 'id', title: 'ID',align:'center'}
                    ,{field: 'ordersn', title: '订单编号',align:'center',width:200}
                    ,{field: 'nickname', title: '用户昵称',align:'center'}
                  /*  ,{field: 'total', title: '商品数量',align:'center'}*/
                    ,{field: 'price', title: '订单价格',align:'center'}
                    ,{field: 'fee', title: '运费',align:'center'}
                    ,{field: 'is_invite', title: '配送方式',align:'center'}
                    ,{field: 'createtime', title: '下单时间',align:'center'}
                    ,{title:'操作', templet:'#barDemo',align:'center'}
                    ,{field: 'status_desc', title: '状态',align:'center'}
                ]
            ]
            ,id: 'order',
        });


        //监听工具条
        table.on('tool(order)', function(obj){
            var data = obj.data;
            if(obj.event === 'view'){
                var url = "{:url('shop_detail')}?id="+data.id;
                xadmin.open('订单详情',url,950,600)
            }
        });

        //重载
        $('#search').on('click', function(){
            //var type = $(this).data('type');
            var name = $('#title');
            var start = $('#start');
            var end = $('#end');
            var status = $('#status');
            //执行重载
            table.reload('order', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    name: name.val(),
                    start: start.val(),
                    end: end.val(),
                    status: status.val(),
                }
            }, 'data');
            //active[type] ? active[type].call(this) : '';
        });
    });

    //日期范围选择
    layui.use('laydate', function() {
        var laydate = layui.laydate;

        laydate.render({
            elem: '#start'
        });
        //日期范围选择
        laydate.render({
            elem: '#end'
        });
    })

    function operation(event,id){
        if(event == 'payment'){
            //确认付款
            layer.confirm('确认此订单已付款吗？',{title:'提示'}, function(index){
                $.ajax({
                    type: "post",
                    url: "{:url('payment')}",
                    dataType: "json",
                    data:{id:id},
                    success: function(data, textStatus, request){

                        if( data.code == 20006){
                            //用户信息失效
                            layer.msg(data.msg,{anim:0,shade:0.6},function () {
                                parent.location.reload();
                                xadmin.del_tab();
                                xadmin.close();
                            });
                        }else if( data.code == 1 ){
                            layer.msg(data.msg,{anim:0,shade:0.6},function () {
                                location.reload();
                                xadmin.close();
                            });
                        }else{
                            layer.msg(data.msg,{anim:0,shade:0.6},function () {
                                return  false;
                            });
                        }
                    }
                });
                layer.close(index);
            });
        }
        if(event == 'deliver'){
            //确认发货
            var url = "{:url('deliver')}?id="+id;
            xadmin.open('确认发货',url,400,250)
        }
        if(event == 'received'){
            //确认收货
            layer.confirm('确认此订单已收货吗？',{title:'提示'}, function(index){
                $.ajax({
                    type: "post",
                    url: "{:url('received')}",
                    dataType: "json",
                    data:{id:id},
                    success: function(data, textStatus, request){

                        if( data.code == 20006){
                            //用户信息失效
                            layer.msg(data.msg,{anim:0,shade:0.6},function () {
                                parent.location.reload();
                                xadmin.del_tab();
                                xadmin.close();
                                // parent.location.href = "{:url('login/index')}"
                            });
                        }else if( data.code == 1 ){
                            layer.msg(data.msg,{anim:0,shade:0.6},function () {
                                location.reload();
                                xadmin.close();
                            });
                        }else{
                            layer.msg(data.msg,{anim:0,shade:0.6},function () {
                                return  false;
                            });
                        }
                    }
                });
                layer.close(index);
            });
        }
    }

</script>
</html>
